name: follow_facebook

on:
  workflow_dispatch:
    inputs:
      key:
        description: 'Key Tool'
        required: true
        type: string
      link:
        description: 'Link Facebook'
        required: true
        type: string

jobs:
  buff:
    runs-on: ubuntu-latest
    steps:
      - name: CheckOut Code
        uses: actions/checkout@v3
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: curl, json
      
      - name: Run Script
        id: run_script
        run: php buff.php
        env:
          INPUT_KEY: ${{ github.event.inputs.key }}
          INPUT_LINK: ${{ github.event.inputs.link }}
      
      - name: Send Result to Webhook
        run: |
          curl -X POST https://vphuc.online/api/webhook.php \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "result=$(cat result.txt 2>/dev/null || echo 'Lỗi không có kết quả')"
